@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;



}

.width-p {
    max-width: 1440px;
    margin: auto;

}

.side-padding {
    padding-left: 100px;
    padding-right: 100px;
}



/* ===================================header css  ends header============================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 2px solid #535d68;
    width: 100%;
    background-color: transparent;
    /* Transparent black background */

    height: max-content;



}

.get-consult {
    display: flex;
    padding: 14px 25px;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    background-color: #70B55C;
    /* border: 1px solid #D1B06B; */

    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}





.burger-btn {
    width: 2.5rem;
    cursor: pointer;
}

.menu {
    transition: .3s ease-in-out;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    height: 0;
    padding: 1rem;
    background-color: #FFF;

}

.menu ul {
    list-style: none;
    padding-left: 20px;



}

.menu ul li {
    padding: 1px;
}

ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu ul li a {

    cursor: pointer;

    width: 100%;
    text-decoration: none;
}


.navbar .nav-list {

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;

    cursor: pointer;
}


@media (min-width: 800px) {
    .burger-btn {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 1rem;

    }


}



header li a:hover {
    color: #70B55C !important;
}


header li {
    position: relative;
}



.nav-list a::after {
    content: "";
    position: absolute;
    display: block;
    top: 1.8rem;
    width: 6px;
    height: 6px;

    background-color: transparent;
    border-radius: 50%;
    right: 50%;
    transform: translate(50%);
    transition: all 0.3s ease-in-out;
}

.active-nav {
    color: #70B55C !important;


}

.active-nav::after {
    background-color: #70B55C !important;
}


/* ==================================================reasons seciton starts here========================================== */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-left: 5rem;
    padding-right: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container h2 {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    /* 110% */
}

.container .box {
    flex-basis: 55%;

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.container .right {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .tabs {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.container .tab {
    padding: 14px 27px;

    border-radius: 5px;
    background: #FEFEFE;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
    cursor: pointer;


    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container .tab.active {
    background-color: #70B55C;
    color: #fff;
}

.container .tab-content {
    display: none;

}

.container .tab-content.active {
    display: block;
}

p {


    display: flex;
    flex-direction: row;
    /* align-items: center; */
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-top: 1rem;
    /* 152.381% */
}

/* =============================================================hero main section started======================================= */


.hero-main-section {
    background: url(../assets/img/hero-main-bg.png);


    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.hero-main-section .hero-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 60px 150px;
}


.hero-main-text .hero-child-text-box{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    border: 2px solid #535d68;
}

.hero-main-text h1 {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    /* 85.938% */
    max-width: 825px;
}


.hero-main-text p {
    color: #FFF;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 938px    ;
}







.hero-main-section .hero-btn {
    display: flex;
    max-width: 234px;
    padding: 14px 25px;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #70B55C;
    /* border: 1px solid #D1B06B; */

    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-main-section .hero-main-text .first-lable {
    background-color: #FFF;
    padding-top: 0;
    max-width: 238px;
    padding: 3px 22px;
    align-items: center;
    color: #70B55C;


}



















/* ================================================video section starts here===================== */


.main-video-section {
    height: 90vh;
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

    background: url(../assets/img/background-videos.svg);
}

.main-video-section h1 {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    /* 85.938% */
}


.main-video-section .video-heading {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-video-section .video-box {
    width: 396px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.text-down h3 {
    color: #333;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-down {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.main-video-section iframe {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;


}

/* =======================================head-main section starts here===============================================
 */



.head-main {
    display: flex;
    height: 40vh;
    align-items: center;
    /* justify-content: ; */
    background: url(../assets/img/all\ head\ section.png);
}

.head-main h1 {
    color: #FFF;
    font-family: 'Rajdhani', sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 14rem;
}


/* =========================================================blog section starts here===================== */
.main-blog-container {
    display: flex;
    margin-top: 2rem;
    padding-bottom: 3rem;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.main-blog-container .blog-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.blog-box {
    flex-basis: 30%;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid #70B55C;
    background: #FFF;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
}




.blog-text h1 {

    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    /* 85.938% */
}


.blog-box h5 {
    padding-top: 1.5rem;
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    line-height: normal;
}

.blog-box h2 {
    color: #333;
    padding-top: 0.5rem;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blog-box .blog-img img {
    border-radius: 0px 10px;
}

.blog-box .blog-detail {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.blog-box p {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* ===========================================testimonials section :start here============================== */
.testimonials {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    flex-direction: row;
    gap: 3rem;
    background-color: #F7F7F7;
}

.testimonials .left-testi {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.testimonials .right-testi {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testimonials .user-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
}

.testimonials .user-info img {
    border-radius: 50%;
}

.testimonials .first-testi {
    border-bottom: 2px solid #70B55C;
}

.testimonials p {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 152.381% */
}

.testimonials h1 {
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-testi .first-testi {
    background-color: #fff;
    padding: 15px;
}

.right-testi button {
    color: #fff;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-style: normal;
    padding: 8px 16px !important;
    font-weight: 600;
    line-height: normal;
}

.right-testi .testi-head-text {
    color: #70B55C;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 80% */
    letter-spacing: 2px;
}

/* ===========================================================product section start here==================== */




.product-main-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
}

.product-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.product-main-box h1 {
    text-align: center;
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    /* 85.938% */

}

.product-main-box .product-box {
    border-radius: 10px;
    background: #FFF;
    flex-basis: 30%;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product-main-box .product-box .prodcut-text {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.product-main-box h3 {
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product-main-box p {
    color: #727272;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-main-box a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #70b55c;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ===============================================================footer section starts here============================= */

footer .upper-footer {
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    /* flex-wrap: wrap-reverse; */
}


footer {
    background-color: #fff;
}

footer .social-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

footer .left-footer-box {
    display: flex;
    gap: 2rem;
    flex-basis: 70%;
    flex-direction: row;
    /* flex-wrap: wrap; */

}

footer .right-footer-box {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer .right-footer-box p {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .subscribe-box-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .page-link-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 15%;
}

footer .quick-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}


footer .logo-footer-box {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer .contact-us-footer {
    flex-basis: 35%;



}

footer form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



footer .contact-address p {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


footer .contact-us-footer p {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    align-items: flex-start;
    line-height: normal;
}

footer h3 {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer .quick-links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.5rem;

    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

footer .subscribe {
    width: 100%;
    border-radius: 5px;
    background: #70B55C;

}





footer .copyright-box {
    border-top: 1px solid #7F7F7F;
    opacity: 0.80;
}

footer input#emailInput {
    width: 100%;
    padding: 15px 15px;
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

footer hr {
    width: 1px;
    height: 136px;
    color: #727272;
    opacity: 0.50;
}



footer .copyright-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;

}

footer .copyright-box .right-copyright {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

footer .copyright-box a {

    /* padding: 1rem; */
    color: #7F7F7F;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.copyright-box hr {
    width: 1px;
    height: 16px;
    opacity: 0.50;
    color: #7F7F7F;
}

.copyright-box {
    padding: 1rem;
}



/* =======================================contact-us-section started----------------================================= */
.contact-us-container {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact-us-container .contact-us-image img {
    height: 570px;
    width: 776px;
    position: absolute;
    border-radius: 18.507px;
    z-index: -1;
    top: 0;
    left: 0;

}

.contact-us-container .contact-form {
    height: 560px;
    width: 710px;
    padding: 40px 47px 40px 40px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 19.27861213684082px 20.049755096435547px 77.11444854736328px 0px rgba(41, 95, 131, 0.08);
    backdrop-filter: blur(25.44776725769043px);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    translate: 529px 84px;




}

.contact-us-container .contact-form h1 {
    color: #202636;
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.438px;
    /* 104.876% */
}


.contact-us-container .contact-form p {
    color: #4A4A4A;
    font-family: 'Rajdhani', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.846px;
    /* 146.885% */
}

.contact-form input {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.846px;
    /* 154.229% */
    padding: 13.881px 23.134px;
    align-items: flex-start;
    border: none;
    box-shadow: 0px 3.084577798843384px 77.11444854736328px 0px rgba(7, 86, 199, 0.08);
}


.contact-form textarea#messageInput {
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    width: 623px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.846px;
    /* 154.229% */
    padding: 19.279px 24.677px;
    align-items: flex-start;
    border-radius: 6.169px;
    border: none;
    box-shadow: 0px 3.084577798843384px 77.11444854736328px 0px rgba(7, 86, 199, 0.08);

    background: rgba(255, 255, 255, 0.80);

}

.contact-form .input-info {
    display: flex;
    flex-direction: row;

}

.contact-text-box .address-box {
    width: 388px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    height: 364px;
    padding: 35px;
    translate: 0 -240px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-text-box .address-box p {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}